
{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
<div class = 'container'>
    <h1>Search Results</h1>
    <ul>
        {% for match in matches %}
            <li><a href="/wiki/{{ match }}">{{ match }}</a></li>
        {% empty %}
            
            <p>Sorry, there are no matches for "{{ query }}"</p>
            <p>
                If you want to create a new entry click<a href="{% url 'create' %}"> here.</a> 
            </p>
            
        {% endfor %}
    </ul>
</div>
{% endblock %}